#grids {
    display:inline-flex;
}

.outer {
    width: 720px;
    height: 720px;

    max-width: 720px;
    max-height: 720px;

    margin: auto;
    border: 1px solid black;
}

#grids:hover {
    background-color: red !important;
}